# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/

# Test artifacts
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Home Assistant
.storage
.cloud
.google.token

# IDE
.idea/
.vscode/
*.code-workspace
*.swp
*.swo
*~
research/

# OS
.DS_Store
Thumbs.db
*.psd
*.zip
*.txt
!requirements_test.txt
*.pdf
